@use "media-queries";

@use "globals";

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;

    @include media-queries.desktop {
        flex-direction: row;
    }
}