@use "media-queries";

$darker: 'Darker Grotesque', sans-serif;
$spicy:'Spicy Rice', cursiva;
$elsie: 'Elsie', cursive;

$black: #000000;
$white: #ffffff;
$gold: #FED403;
$non-photo-blue: #98DBEE;


html{
    font-size: 16px;

    body{
        width: 100%;
        display: flex;
        background-image: url("../assets/background.jpg");
        background-color: $gold;
        height: 70rem;
        margin-top: 2rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;

        @include media-queries.desktop {
            margin-top: 6rem;
            align-items: center;
            justify-content: flex-start;
            height: 100vh;
        }

        main{
            display: flex;
            flex-direction: column;

            @include media-queries.desktop {
                margin-top: 4rem;
            }

            .logo-alura{
                width: 2.5rem;
                position: absolute;
                top: 1rem;
                left: 1rem;
            
                @include media-queries.desktop-s {
                    top: 1rem;
                    left: 2rem;
                }
            }

            .title{
                font-family: $spicy;
                font-size: 1.5rem;
                color: $black;
                text-align: center;
                margin-top: 2rem;

                @include media-queries.desktop-s {
                    font-size: 2.3rem;
                }

            }
        }
    }
}