@use "media-queries";

@use "globals";

.output-message{
    width: 22rem;
    height: 27rem;
    background-color: globals.$white;
    border-radius: 0.8rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    color: globals.$black;
    font-family: globals.$darker;
    font-size: 1.3rem;
    font-weight: 300;
    box-shadow: 0px 0px 10px 5px rgba(191,191,191,0.64) inset, 0px 0px 21px 3px rgba(74,74,74,0.68);

    .msg-out{
        height: 18rem;
        padding: 1rem;
        margin: 1.5rem 1.5rem 0.5rem;
        background-image: url(../assets/Muñeco.png);
        background-position: center;
        background-repeat: no-repeat;
        background-color: globals.$non-photo-blue;
        border: none;
        border-radius: 0.8rem;
        resize: none;
        font-family: globals.$darker;
        font-size: 1.2rem;
        font-weight: 500;
        box-shadow: 0px 0px 18px -2px rgba(74,74,74,0.5) inset, 0px 0px 10px 5px rgba(191,191,191,0.64);
    }

    .msg-out::placeholder{
        font-family: globals.$darker;
        font-size: 1.2rem;
        font-weight: 300;
    }

    .msg-out:focus-visible{
        outline: none;
    }

}