html {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 17px;
  }
}
html body {
  width: 100vw;
  display: flex;
  background-image: url("../assets/background.jpg");
  background-color: #FED403;
  height: 70rem;
  margin-top: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  html body {
    margin-top: 0rem;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
  }
}
html body main {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  html body main {
    margin-top: 2rem;
  }
}
html body main .logo-alura {
  width: 2.5rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
@media screen and (min-width: 768px) {
  html body main .logo-alura {
    top: 1rem;
    left: 2rem;
  }
}
html body main .title {
  font-family: "Spicy Rice", cursiva;
  font-size: 2rem;
  color: #000000;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
  }
}

.input-message {
  font-family: "Darker Grotesque", sans-serif;
  width: 22rem;
  height: 27rem;
  background-color: #ffffff;
  border-radius: 0.8rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 5px rgba(191, 191, 191, 0.64) inset, 0px 0px 21px 3px rgba(74, 74, 74, 0.68);
}
.input-message .msg-in {
  height: 12rem;
  padding: 1rem;
  margin: 1.5rem 1.5rem 0.5rem;
  background-color: #98DBEE;
  border: none;
  border-radius: 0.8rem;
  resize: none;
  color: #000000;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  box-shadow: 0px 0px 18px -2px rgba(74, 74, 74, 0.5) inset, 0px 0px 10px 5px rgba(191, 191, 191, 0.64);
}
.input-message .msg-in::-moz-placeholder {
  color: #000000;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}
.input-message .msg-in::placeholder {
  color: #000000;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}
.input-message .msg-in:focus-visible {
  outline: none;
}
.input-message span {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.6rem 1.5rem;
}
.input-message span .exclamation-icon {
  width: 1rem;
  margin-bottom: -0.2rem;
}

.output-message {
  width: 22rem;
  height: 27rem;
  background-color: #ffffff;
  border-radius: 0.8rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  color: #000000;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  box-shadow: 0px 0px 10px 5px rgba(191, 191, 191, 0.64) inset, 0px 0px 21px 3px rgba(74, 74, 74, 0.68);
}
.output-message .msg-out {
  height: 18rem;
  padding: 1rem;
  margin: 1.5rem 1.5rem 0.5rem;
  background-color: #98DBEE;
  border: none;
  border-radius: 0.8rem;
  resize: none;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  box-shadow: 0px 0px 18px -2px rgba(74, 74, 74, 0.5) inset, 0px 0px 10px 5px rgba(191, 191, 191, 0.64);
}
.output-message .msg-out::-moz-placeholder {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}
.output-message .msg-out::placeholder {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}
.output-message .msg-out:focus-visible {
  outline: none;
}
.output-message .img-munieco {
  width: 17rem;
  margin-top: 3.5rem;
  margin-left: 2rem;
  display: flex;
  position: absolute;
}

.btn {
  height: 3rem;
  background-color: #FED403;
  border-radius: 0.8rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #000000;
  font-family: "Darker Grotesque", sans-serif;
  box-shadow: 0px 0px 8px 2px rgb(173, 151, 36) inset;
  margin: 0.4rem 1.5rem;
}
.btn:hover {
  background-color: rgb(221, 188, 25);
}
.btn:active {
  background-color: rgb(182, 156, 31);
  box-shadow: 0px 0px 8px 2px rgb(108, 95, 26) inset;
}

.buttons {
  margin: 0.4rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.buttons .btn-m {
  height: 3rem;
  background-color: #FED403;
  border-radius: 0.8rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #000000;
  font-family: "Darker Grotesque", sans-serif;
  box-shadow: 0px 0px 8px 2px rgb(173, 151, 36) inset;
  width: 47%;
}
.buttons .btn-m:hover {
  background-color: rgb(221, 188, 25);
}
.buttons .btn-m:active {
  background-color: rgb(182, 156, 31);
  box-shadow: 0px 0px 8px 2px rgb(108, 95, 26) inset;
}

footer .icons-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .icons-footer .icon {
  height: 1.8rem;
  margin: 1rem;
}/*# sourceMappingURL=styles.css.map */